<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="/css/catalogo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723060689/My%20images/vccgcftudcwkvhjxobbi.png"
        type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <ul>
                <img class="logo"
                    src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/5526a418-1a12-4bfc-9077-5a1b23f8d8c1___19999b42961a45dbb2f4293973939c0b.svg"
                    alt="">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="/views/catalogo.html">Productos</a></li>
                <li><a href="/views/contactos.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <h1 class="C-titulo">Catalogo de productos</h1>
        <div class="accordion">
            <h2 class="accordion-header">Mujeres</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091449/My%20images/shp4mdt1iximnpjperav.webp"
                            alt="Falda">
                        <div class="product-info">
                            <h3>Falda <br> Sabrina</h3>
                            <p>$18.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091449/My%20images/l0xiidtwwqtulizrhczm.webp"
                            alt="Jeans">
                        <div class="product-info">
                            <h3>Jeans <br>Orange bootcut</h3>
                            <p>$25.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091449/My%20images/fixqbqiotyyj0lcv8vzn.webp"
                            alt="Jeans">
                        <div class="product-info">
                            <h3>Blusa Active <br>Basic crop top</h3>
                            <p>$5.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091824/My%20images/wwmn4bievebusvwveskg.webp"
                            alt="Jeans">
                        <div class="product-info">
                            <h3>Blusa sweatshirt <br>manga larga</h3>
                            <p>$25.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="accordion-header">Hombres</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723092287/My%20images/npax1fhiqr8twbtf8xfn.webp"
                            alt="Camisa">
                        <div class="product-info">
                            <h3>Camiseta multicolor colorblock</h3>
                            <p>$11.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723092288/My%20images/vqkmei0blitjdrfyvz3b.webp"
                            alt="Camiseta">
                        <div class="product-info">
                            <h3>Hurley Camiseta blanca estampada</h3>
                            <p>$29.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723092545/My%20images/hfxcbm2sgwlq1gdx9ths.webp"
                            alt="Jeans">
                        <div class="product-info">
                            <h3>Pantalón <br>slim taper</h3>
                            <p>$31.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723092643/My%20images/hsiakzyszbodanevqfzf.webp"
                            alt="Jeans">
                        <div class="product-info">
                            <h3>Jack & Jones Jeans confort fit</h3>
                            <p>$26.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="accordion-header">Niños</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093087/My%20images/tyvgel6wd4fu9fcogoll.webp"
                            alt="Camisa-niño">
                        <div class="product-info">
                            <h3>Camiseta blanca con estampado</h3>
                            <p>$7.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093087/My%20images/axeelh22dwm3pcw4rekl.webp"
                            alt="Camisa-niño">
                        <div class="product-info">
                            <h3>Camiseta negra con estampado</h3>
                            <p>$9.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093087/My%20images/kzebmhlzxin4r3nif45r.webp"
                            alt="Jeans-niño">
                        <div class="product-info">
                            <h3>Jeans celeste con estampado</h3>
                            <p>$23.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093087/My%20images/ozvptyatppnryhoq5jua.webp"
                            alt="Jeans-niño">
                        <div class="product-info">
                            <h3>Jeans azul <br> sólido</h3>
                            <p>$22.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="accordion-header">Calzado</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723094004/My%20images/gv4ox08ublm5wpxvomff.webp" alt="z-adidas">
                        <div class="product-info">
                            <h3>Zapato Adidas VL Court 3.0</h3>
                            <p>$79.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091449/My%20images/of3x7yqlpwkfon9mfgov.webp" alt="z-mujer">
                        <div class="product-info">
                            <h3>Calzado de tacon alto negro</h3>
                            <p>$49.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723094016/My%20images/v7alnqkx02v0fzeqhdbd.webp" alt="z-sneakers">
                        <div class="product-info">
                            <h3>Zapato deportivo casual Skechers</h3>
                            <p>$89.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723091449/My%20images/vxwuj4lacphybiqyqdub.webp" alt="z-mujer">
                        <div class="product-info">
                            <h3>Calzado para dama medio tacon</h3>
                            <p>$45.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="accordion-header">Juguetes</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093694/My%20images/zuv0ndxdalpcy0ndxho3.webp" alt="Lego spider-man">
                        <div class="product-info">
                            <h3>Lego spider-man vs doc ock</h3>
                            <p>$20.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093694/My%20images/tzytts49puiklejngpoi.webp" alt="Peluche">
                        <div class="product-info">
                            <h3>Peluche de Pikachu de 8"</h3>
                            <p>$19.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093696/My%20images/xupin28ugivj8jcrojrd.webp" alt="HotWheels">
                        <div class="product-info">
                            <h3>Hot Wheels Auto Básico</h3>
                            <p>$2.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723093695/My%20images/inmkwlwxrpiuo3ic15ni.webp" alt="Nerf">
                        <div class="product-info">
                            <h3>Nerf elite 2.0 - double punch</h3>
                            <p>$89.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="accordion-header">Muebles</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723094516/My%20images/nvu3fbk2ux2hnc3coajg.webp" alt="Ropero">
                        <div class="product-info">
                            <h3>Ropero 8 puertas 4 gavetas Belem</h3>
                            <p>$509.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723094556/My%20images/ykt0ul6ditzhwgdscsxh.webp" alt="Muebles">
                        <div class="product-info">
                            <h3>Sala seccional con ottoman Ibiza</h3>
                            <p>$489.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723087565/My%20images/vltedutfqidh6baolclr.png" alt="Cama">
                        <div class="product-info">
                            <h3>Cama familiar indufoam</h3>
                            <p>$179.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723094516/My%20images/koy6xcwukefbv65y84nn.webp" alt="Silla">
                        <div class="product-info">
                            <h3>Silla ejecutiva - negra</h3>
                            <p>$112.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="accordion-header">Electrodomésticos</h2>
            <div class="accordion-content">
                <div class="product-grid">
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723090633/My%20images/i3dlal1mo7uyvkvsvsie.webp"
                            alt="Cocina">
                        <div class="product-info">
                            <h3>Cocina Gas <br>Whirlpool</h3>
                            <p>$419.99 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723090633/My%20images/dxyidcdohxrjydyx6uym.webp"
                            alt="MicroHondas">
                        <div class="product-info">
                            <h3>Microhondas <br>Whirlpool</h3>
                            <p>$99.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723090634/My%20images/hm4umlcljbnwawqljyhd.webp"
                            alt="Licuadora">
                        <div class="product-info">
                            <h3>Licuadora <br>Hamilton Beach</h3>
                            <p>$69.90 <span class="offer-tag">¡Oferta!</span></p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="https://res.cloudinary.com/dyk2n4p0q/image/upload/v1723090633/My%20images/gtcg5dan4d8rmji1quvp.webp"
                            alt="Lavadora">
                        <div class="product-info">
                            <h3>Lavadora <br> Whirlpool</h3>
                            <p>$529.99</p>
                            <button class="btn-comprar">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Agrega más categorías aquí -->
        </div>
    </section>

    <script>
        document.querySelectorAll('.accordion-header').forEach(header => {
            header.addEventListener('click', () => {
                const content = header.nextElementSibling;
                header.classList.toggle('active');
                content.style.display = content.style.display === 'block' ? 'none' : 'block';
            });
        });

    </script>


</body>
<Footer>
    <img src="https://siman.vtexassets.com/assets/vtex/assets-builder/siman.store-theme/10.0.11/icons-footer/footer-logo___9a061112dc9f88f48198e36faff46e26.svg"
        alt="">
    <p>&copy; 2024 Almacenes Siman El Salvador. <br> Reservados todos los derechos.</p>
    <div class="social-icons mt-3">
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
    </div>
</Footer>

</html>